.wrapper {
    background-image: url("../img/bg.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.upper {
    min-height: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.41);
}
.logo-link{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    float: left;
    margin: 20px 78px;
    text-decoration: none;
}
.logo-link:hover    {
    color: #3cb878;
}
.icon1 {
    display: inline-block;
    width: 28px; height: 20px;
    background: url('../img/css_sprites.png') -10px -14px;
    margin-left: 22px;
}
.icon1:hover {
    background: url('../img/css_sprites.png') -10px -91px
}
.icon2 {
    display: inline-block;
    width: 28px; height: 20px;
    background: url('../img/css_sprites.png') -10px -54px;
    margin-left: 22px;
}
.icon2:hover {
    background: url('../img/css_sprites.png') -10px -291px;
}
.icon3 {
    display: inline-block;
    width: 28px; height: 20px;
    background: url('../img/css_sprites.png') -58px -14px;
    margin-left: 22px;
}
.icon3:hover {

    background: url('../img/css_sprites.png') -58px -91px;

}
.icon-zone {
    float: right;
    margin: 20px 25px;
}
.header-text {
    color: white;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    float: right;
    margin: 22px 72px 22px 0;

}
.highlight:hover a{
     border-bottom: 1px solid #3cb878;

 }
.highlight{
    color: #3cb878;
}
.header-text::before {
    content: '';
    margin-right: 25px;
    border-right:1px solid rgba(255, 255, 255, 0.2);
}
.main {
    position: relative;
}
.main-form {
    width: 444px;
    height: 585px;
    background-color: white;
    position: relative;
    top:calc(50vh - 64px - 292px);
    left:calc(50vw - 222px);
    border-radius: 12px;
    padding: 25px 60px;
    box-sizing: border-box;
    box-shadow: 9px 9px 11px -9px rgba(0,0,0,0.75);
}
.form-header {
    color: #434343;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    margin-bottom: 20px;
    float: left;

}
.form-text{
    position: relative;
}
.form-header::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top:2px;
    left: -60px;
}
.form-login {
    margin-bottom: 20px;
    float: right;

}
.form-login a{
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color: #3cb878;
    text-decoration: none;
}

.form-login:hover a{
    border-bottom: 1px solid #3cb878;

}
.clearfix {
    clear: both;
}
.facebook-button {
    box-sizing: border-box;
    width: 155px;
    height: 48px;
    background-color: #305db8;
    cursor: pointer;
    margin-left: 5px;
    border: none;
    border-radius: 4px;

}
.facebook-button .button-text{
    color: white;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}
/*
.facebook-button::before {
    content: '';
    margin-right: 16px;
    border-right:1px solid rgba(255, 255, 255, 0.2);
}

.facebook-button::before {
    content: 'f';
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding-right: 12px;

}

 */
.google-button .button-text{
    color: white;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}
.google-button {
    box-sizing: border-box;
    width: 155px;
    height: 48px;
    background-color: #df4a32;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.button-text::before {
    content: '';
    margin-right: 16px;
    border-right:1px solid rgba(255, 255, 255, 0.2);

}
.google_icon {
padding-right: 10px;
    display: inline-block;
    margin-bottom: -2px;
}
.fb_icon {
    padding-right: 12px;
    height: 18px;
    display: inline-block;
    margin-bottom: -2px;
}
/*
.google-button::before {
    content: 'G+';
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding-right: 8px;

}
 */
.wrapper-for-or {
    position: relative;
    text-align: center;
    margin:0 auto;
    width: 98%;
}
.forline {
    color: #848484;
    margin-top: 30px;

}
.forline::before, .forline::after {
    content: '';
    width: calc(50% - 20px);
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(132, 132, 132, 0.45);
}

.forline::before {
    left:0;
}
.forline::after {
    right:0;
}
.facebook-button:hover {
    background-color: #264b96;
}
.google-button:hover {
    background-color: #c3412c;
}
.input-field {
    width: 100%;
    height: 48px;
    padding-left: 18px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    border-radius: 4px;
    border: 1px solid #bebebe;
}


.input-field:focus {
   color: #434343;
    box-shadow: -2px 2px 4px #bebebe;
    outline: none;
}
.agree-label {
    cursor: pointer;
}
.highlight a {
    text-decoration: none;
    color: #3cb878;
}

.agree-label .highlight:hover a{
    border-bottom: 1px solid #3cb878;

}
.agree-block {
    margin-top: 20px;
    font-size: 14px;
    color: #434343;
    font-family: Verdana, sans-serif;
}
.submit-button {
    width: 100%;
    background-color: #3cb878;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 46px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    margin-top: 25px;
}
.submit-button:hover {
    background-color: #329a65;
}


/* checkbox*/

#agree-check
{
    position: absolute;
    left: -9999px;
}

#agree-check:checked + label,
#agree-check:not(:checked) + label{

    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
}

#agree-check:checked + label:before,
#agree-check:not(:checked) + label:before
{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #bebebe;
    background-color: #ffffff;
    border-radius: 2px;
}

#agree-check:checked + label:after,
#agree-check:not(:checked) + label:after
{
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}

#agree-check:checked + label:after,
#agree-check:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #329a65;
    border-bottom: 4px solid #329a65;
    transform: rotate(-45deg);
}

#agree-check:not(:checked) + label:after
{
    opacity: 0;
}

#agree-check:checked + label:after
{
    opacity: 1;
}
