header {
  border: 1px solid black; }

.col {
  width: calc(100% / 3 - 20px); }

@media (max-width: 1000px) {
  .col {
    width: calc(100% / 3 - 6px); }
  body {
    color: green; }
  header.active {
    color: red; }
  section__nav {
    padding: 10px; }
  section__nav-link {
    color: red; } }
