* {
    box-sizing: border-box;
}

.app {
    font-family: 'Montserrat', sans-serif;
}

.fixed-menu {
    height: 120px;
    background: rgba(146, 145, 140, 0.38);
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;

}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.header-menu {
    font-weight: bold;
    color: #b8b8b8;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

}

.header-menu-li {
    margin-left: 22px;
    position: relative;
    padding-top: 54px;
    padding-bottom: 53px;

}

.icon-search {
    margin-left: 22px;
    font-size: 18px;
}

.icon-search:hover {
    margin-left: 22px;
    color: #3cb878;
}

.header-menu-li:hover {
    color: #3cb878;
    border-bottom: 1px solid #3cb878;
}

.header-menu-li:hover:after {
    content: '';
    width: 40px;
    position: absolute;
    top: 30px;
    left: 2px;

}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-letter-H {
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    background-color: #18cfab;
    text-align: center;
    width: 60px;
    position: relative;
    margin-right: 6px;
}

.logo-letter-H::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -45px;
    border: 30px solid transparent;
    border-top: 15px solid #18cfab;
}

.logo-letter-H::before {
    content: '';
    position: absolute;
    left: 0;
    top: -45px;
    border: 30px solid transparent;
    border-bottom: 15px solid #18cfab;
}

.logo-text {
    color: #ffffff;
    font-size: 32px;
}

.logo-text .highlight {
    font-weight: bold;
}

.highlight {
    color: #18cfab;
}

.banner-header {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.banner-subheader {
    color: white;
    font-size: 79px;
    font-weight: bold;
    margin: 40px 0;
    text-transform: uppercase;
}

.banner-description {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 200;
    margin-bottom: 140px;
}

.banner {
     background-image: url("../img/Sections background/section-1(header).jpg");
     height: 1010px;

 }
.banner .wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-btn-explore {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 22px;
    background-color: #18cfab;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-top: 3px solid white;
    border-radius: 6px;
    cursor: pointer;
}
.banner-btn-explore:hover {
    background-color: #22cf92;

}


.banner-btn-purchase {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 22px;
    background-color: #00cbf6;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-top: 3px solid white;
    border-radius: 6px;
    margin-left: 28px;
    cursor: pointer;
}
.banner-btn-purchase:hover {
    background-color: #46c3f6;

}

.four-options {
    display: flex;
    width:100vw;

}

.option-odd {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 300px;
    flex-grow: 1;
}

.option-even {
    background-color: #18cfab;
    height: 365px;
    border-top: 7px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 300px;
    flex-grow: 1;

}

.option-odd p {
    color: #18cfab;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-bottom: 115px;

}

.option-even p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-bottom: 115px;
}

.option-img {
    padding-bottom: 50px;
}

.services-header {
    color: #4e4e4e;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
    position: relative;
}

.services-header:before {
    display: block;
    content: '';
    width: 80px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: 66px;
    left: 44%;
}

.services-header:after {
    display: block;
    content: '';
    width: 80px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: 70px;
    left: 46%;
}

.services-tabs-block {
    display: flex;
}

.services-tab {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #717171;
    background-color: #f8fcfe;
    position: relative;
    width: 190px;
    padding: 30px 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid #eff0f1;
}

.services-tab-active {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #18cfab;
    position: relative;

}

.services-tab-active::after {
    display: block;
    content: '';
    position: absolute;
    left: 80px;
    top: 75px;
    border: 15px solid transparent;
    border-top: 10px solid #18cfab;
}

.services-description {

    margin-top: 25px;
    margin-bottom: 100px;
}
.tabs-panel{
    display: none;
}

.tabs-panel.active {
    display: flex;
}
.services-description-img{
    width: 194px;
}

.services-description-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #777777;
    font-weight: 200;
    text-align: justify;
    margin-left: 20px;
}

.purchase-section {
    background: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("../img/Sections background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;

}

.purchase-section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchase-section-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #18cfab;
    font-weight: bold;
    margin: 125px 0 30px;

}

.purchase-section-description {
    color: #d8d8d8;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

.purchase-section-btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 22px;
    background-color: #18cfab;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-top: 3px solid white;
    border-radius: 6px;
    margin: 80px 0 125px;
    cursor: pointer;
}
.purchase-section-btn:hover {
    background-color: #22cf92;

}
.works-section .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works-section {
    background-color: #f8fcfe;
    padding-bottom: 100px;
}

.works-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.works-tab {
    border: 1px solid #ebebeb;
    background-color: white;
    padding: 20px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.works-tabs .works-active {
    border: 1px solid #ebebeb;
    background-color: white;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    cursor: pointer;
    border-top: 2px solid #18cfab;
    color: #74e2cd;

}

.works-images {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.load-more-btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 22px;
    background-color: #18cfab;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.load-more-btn:hover {
    background-color: #22cf92;

}

.icon-plus {
    margin-right: 15px;
}

.card {
    width: 284px;
    height: 206px;
    z-index: 2;
    position: relative;
}

.card .icon-search {
    display: block;
    background-color: #18cfab;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    margin-left: 6px;
}
.card .icon-search:hover {
    background-color: #65cfb2;

}
.card .icon-link {
    display: block;
    background-color: white;
    color: #18cfab;
    border: 1px solid #18cfab;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 13px;
    transform: scale(1, -1);
    cursor: pointer;
    margin-left: 0;
}
.card .icon-link:hover {
    background-color: #ebfcff;

}
.card-header {
    color: #18cfab;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin: 30px 0 12px;
}

 .card-description {
     color: #8a8a8a;
     font-family: 'Montserrat', sans-serif;
     font-weight: 200;
     font-size: 12px;
 }
 .card-hover {
     background-color: white;
     width: 284px;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 0;
     z-index: -1;

 }
.card-icons {
    display: flex;
}
.card:hover .card-hover{
    z-index: 2;
}

/**/
.news-cards-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-img-block {
    position: relative;
    display: inline-block;
    margin-bottom: 46px;
}
.card-img-date {
    background-color: #203e38;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card-date-day {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.card-date-month{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-top: 12px;
}
.news-card-description{
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    padding: 14px;
    margin-top: -2px;
}
.news-card-header{
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-weight: bold;
    padding-bottom:12px;
    font-size: 18px;
}
.news-card-author{
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 200;
}
.news-card-comments-count {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 200;
    margin-left: 14px;
}
.news-card-author::after {
    content: '';
    height: 16px;
    border-left: 1px solid rgba(119, 119, 119, 0.49);
    margin-left: 14px;
}
.card-img-block:hover .card-img-date {
    background-color: #18cfab;
}
.card-img-block:hover .news-card-header {
    color: #18cfab;
}
/**/

.testimonial-section{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../img/Sections background/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
}

.testimonial-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.active-client-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px;
    animation: fadein 2s;
}
/**/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/**/
.testimonial-client-list{
    display: flex;
    justify-content: center;
    width: 500px;

}
.testimonial-section .services-header{
    color: white;
}
.testimonial-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #bbbbbb;
    text-align: center;
    height: 50px;

}
.quotes {
    margin: 60px 0 40px;
}
.testimonial-client-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #18cfab;
    text-transform: uppercase;
    margin-top: 40px;
}
.client-desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 200;
    color: #bbbbbb;
    margin: 20px 0 26px 0;
}
.client-list-item-img{
    width: 60px;
    cursor: pointer;
}
.client-list-item-img:hover{
    width: 60px;
    cursor: pointer;
    border: 1px solid #18cfab;
    border-radius: 50%;

}

.client-list-item{
    width: 68px;
    height: 68px;
    background-color: rgba(24, 207, 171, 0.21);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:22px;
    margin-right:22px;
}
.dot-active {
    background-color: rgba(24, 207, 171, 0.21);
    position: relative;
    bottom: 10px;
}
.dot-active .client-list-item-img{
    border: 1px solid #18cfab;
    border-radius: 50%;
}
.slider-left, .slider-right{
    width: 32px;
    height: 32px;
    color: #909597;
    border: 1px solid #909597;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 17px;
    cursor: pointer;
}
.slider-left {
    left: 305px;
}
.slider-right{
    left: 805px;
}
.slider-left:hover, .slider-right:hover{
    background-color: #18cfab;
    color: white;
}
.active-client-foto {
    width: 149px;
    border: 3px solid #18cfab;
    border-radius: 50%;
}
.active-client-foto-wrapper{
    width: 162px;
    height: 162px;
    background-color: rgba(24, 207, 171, 0.21);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section {
    height: 106px;
    background-color: #22353f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #bbbbbb;
}
.footer-text span::after {
    content: '';
    height: 14px;
    border-left: 2px solid rgba(119, 119, 119, 0.73);
    margin: 4px;
}
/**/
.card-load-more{
    display: none;
}

#floatingBarsG{
    position:relative;
    width:60px;
    height:75px;
    margin:auto;
    display: none;
}

.blockG{
    position:absolute;
    background-color:rgb(255,255,255);
    width:10px;
    height:23px;
    border-radius:8px 8px 0 0;
    -o-border-radius:8px 8px 0 0;
    -ms-border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0;
    -moz-border-radius:8px 8px 0 0;
    transform:scale(0.4);
    -o-transform:scale(0.4);
    -ms-transform:scale(0.4);
    -webkit-transform:scale(0.4);
    -moz-transform:scale(0.4);
    animation-name:fadeG;
    -o-animation-name:fadeG;
    -ms-animation-name:fadeG;
    -webkit-animation-name:fadeG;
    -moz-animation-name:fadeG;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#rotateG_01{
    left:0;
    top:27px;
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
    transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
}

#rotateG_02{
    left:8px;
    top:10px;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
}

#rotateG_03{
    left:25px;
    top:3px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
    transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
}

#rotateG_04{
    right:8px;
    top:10px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:27px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
    transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
}

#rotateG_06{
    right:8px;
    bottom:7px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    transform:rotate(135deg);
    -o-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:25px;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}

#rotateG_08{
    left:8px;
    bottom:7px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    transform:rotate(-135deg);
    -o-transform:rotate(-135deg);
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    -moz-transform:rotate(-135deg);
}



@keyframes fadeG{
    0%{
        background-color: rgb(34, 207, 146);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes fadeG{
    0%{
        background-color: rgb(34, 207, 146);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes fadeG{
    0%{
        background-color: rgb(34, 207, 146);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes fadeG{
    0%{
        background-color: rgb(34, 207, 146);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes fadeG{
    0%{
        background-color: rgb(34, 207, 146);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}