.field-cell{
    border: 1px solid black;
    width: 40px;

}
.main-table {
    width: 400px;
    height: 400px;
    border: 1px solid black;
}
.blue {
    background-color: #0029dc;
}
.green {
    background-color: green;
}
.red {
    background-color: #dc442f;
}
.chosen {
    background-color: #2d8cd5;
}
