.wrapper {
     width: 1366px;
     min-height: 768px;
     background-image: url("../img/imbg.png");
     margin: 0 auto;
     text-align: center;
     background-size: cover;

 }
.main {
    padding-left: 155px;
}
.main-logo-text {
    font-size: 29px;
    color: white;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.submain-logo-text {
    font-size: 18px;
    color: white;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.logo-link {
    text-decoration: none;
    color: white;
}

.logo-img {
    display: inline-block;
    float: left;
    margin: 50px 20px 50px 155px;
}

.logo-text-block {
    display: inline-block;
    float: left;
    margin-top: 50px;
}

.clearfix {
    clear: both;
}

.contactinfo-text {
    font-size: 18px;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: right;

}

.contactinfo {
    float: right;
    margin: 50px 150px 50px 0;
}

.logo {
    float: left;
}

.info-block {
    float: left;
    margin-right: 64px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;

}


.description {
    font-size: 18px;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.info-picture {
    width: 310px;
    border: 2px solid black;
    border-image: linear-gradient(to bottom, #f26522, #fff) 1;
}

.copyright {
    font-size: 12px;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

.higlight {
    color: #f26522;
}

.hidden-info {
    background-color: #f26522;
    font-size: 12px;
    color: white;
    font-family: Verdana, sans-serif;
    height: 60px;
    position: relative;
    width: 314px;
    opacity: 0;

}

.price {
    float: left;
    margin: 15px 20px;
    font-size: 20px;
}
.info-block:hover .description{
    color: #f26522;

}
.info-block:hover .hidden-info{
    display: block;
    background-clip: content-box;
    opacity: 1;
    transform: translateY(-90px);
    transition-duration: .5s;
}
.price-mini-text {
    font-size: 10px;
}
.logo:hover .main-logo-text a{
    color: #f26522;
}
.logo:hover .submain-logo-text a{
    color: #f26522;
}
.logo-pic{
    background: url(../img/im-logo.png);
}
.logo:hover .logo-pic{
    filter: invert(55%) sepia(15%) saturate(7467%) hue-rotate(343deg) brightness(93%) contrast(103%);
}
.view-details-link::after {
    content: '>';
    font-size: 12px;
    font-family: Arial, sans-serif;
    vertical-align: top;
    display: inline-block;
    color: white;
    margin-left: 5px;
}
.view-details-link {
    text-decoration: none;
    float: right;
    margin-top: 35px;
    font-size: 14px;
    margin-right: 20px;
    color: white;
}