@import "./vars";

@mixin column($cols: $colums, $margin: 3px) { // через : значение по умолчанию если не задано при вызове
  width: calc(100% / #{$cols} - #{$margin * 2});
}


@mixin socialRound($color) { // через : значение по умолчанию если не задано при вызове
  border: 1px solid $color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
}