* {
    box-sizing: border-box;
}

.app {
    background-color: #141515;
}

.wrapper {
    min-width: 375px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    height: 51px;
    background: #141515;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 12px;
}

/**/
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 12px;
    right: 26px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f38a03;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 140px;
    height: 280px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(20, 21, 21, 0.61);
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 1;
}

.menu__box ul {
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

/**/

.menu-link {
    text-decoration: none;
}

.menu-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.main-menu {

    position: absolute;
    left: -100px;
    top: 0;
    transition: transform 200ms;

}

.main-menu:target {
    background-color: #18cfab;
}


.banner {
    background-image: url("../img/9 1.png");
    background-size: cover;
    padding-top: 57px;
    padding-bottom: 247px;
    position: relative;
}

.banner::after {
    position: absolute;
    bottom: -65px;
    right: 0;
    content: '';
    display: block;
    width: 265px;
    height: 65px;
    background-color: #ed1260;
}

.main-header {
    background-color: #141515;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    width: 257px;
    padding: 41px 0;
    text-transform: uppercase;
    margin: 0 0 20px 12px;
}

.main-subheader {
    background-color: #141515;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 131px;
    padding: 7px 0;
    text-decoration: underline;
    margin-left: 75px;
}

.about {
    background-color: #141515;
    padding-top: 40px;
}

.about-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 57px;
}

.about-card {
    min-height: 140px;
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.about-card-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.cards-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.map-section {
    padding: 20px 15px 60px;
    background-color: #141515;
}

.map-section-block {
    margin: 0 auto;
    max-width: 570px;
    border: 4px solid #ed1260;
    padding: 6px;
}

.map-img {
    width: 100%;
    margin-bottom: 10px;
}

.adress {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}

.contacts {
    background-color: #141515;
    border: 4px solid #f38a03;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.contacts-icon {
    color: #f38a03;
    font-size: 22px;
}

.contact-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

.contact-email {
    display: grid;
    grid-template-columns: 50px 1fr;
    padding-bottom: 20px;
}

.contact-tel, .contact-location {
    display: grid;
    grid-template-columns: 50px 1fr;
    padding-bottom: 20px;
}

.icon-map-marker, .icon-phone {
    grid-row: 1 / 3;
    align-self: center;
}

.contact-name {
    display: none;
}


/**/
@media (min-width: 769px) {
    .logo {
        margin-left: 50px;
    }

    .header {
        height: 96px;
    }

    .menu__box {
        position: absolute;
        display: block;
        width: 60%;
        visibility: initial;
        height: 96px;
        padding: 3px;
        right: 0;
        margin-right: 40px;

    }

    .menu-link:hover {
        color: #f38a03;
    }

    .menu__btn, #menu__toggle {
        display: none;
    }

    .menu__box ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .menu-item {
        padding-left: 0;
        padding-right: 0;
    }

    .menu-link {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
    }

    .banner {
        max-width: 957px;
        margin: 0 auto;
        padding-bottom: 263px;
    }

    .about-text {
        max-width: 957px;
        font-size: 25px;
        margin: 37px auto;
        text-align: left;
    }

    .main-header {
        font-size: 32px;
        width: 327px;
        padding: 46px 0;
        text-transform: uppercase;
        margin: 0 0 20px 44px;
    }

    .main-subheader {
        font-size: 22px;
        width: 200px;
        padding: 14px 0;
        margin-left: 115px;
    }

    .cards-block {
        max-width: 957px;
        margin: 0 auto;
    }

    .about-card {
        width: 30%;
    }

    .about-card-txt {
        font-size: 18px;
        margin: 18px auto;

    }

    .map-section-block {
        border: 4px solid #ed1260;
        padding: 27px 27px 17px 27px;
    }

    .adress {
        font-size: 22px;
    }

        .contacts {
            max-width: 957px;
            margin: 0 auto;
            border: none;
            display: block;
        }
        .contact-name {
            margin-bottom: 15px;
            display: unset;
            font-family: 'Montserrat', sans-serif;
            font-size: 25px;
            color: #FFFFFF;
        }
        .contact-text{
            font-size: 22px;
            margin-bottom: 15px;
        }
        .footer-header{
            font-size: 45px;
            text-align: left;
            margin-left: 20px;
            margin-bottom: 50px;
        }
        .contacts-icon{
            color: #f38a03;
            font-size: 34px;
            margin-bottom: 30px;
        }

        .contact-email, .contact-tel, .contact-location   {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 230px;
        }
        .contacts-blocks {
            display: flex;
            justify-content: space-evenly;
        }
}

@media (min-width: 1158px) {
    .banner::after {
        position: absolute;
        top: 0;
        right: -100px;
        content: '';
        display: block;
        width: 100px;
        height: 347px;
        background-color: #ed1260;

    }
}
