.modalWrapper{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.36);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
}
.modal {
  width: 520px;
  background-color: #e74c3c;

  box-sizing: border-box;
}

.modalHeader{
  background-color:#d44637;
  font-size: 18px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.modalText{
  padding: 30px 60px;
}
.cross{
  cursor: pointer;
}
.modalBtnAction{
  padding: 8px;
  margin: 0 10px 20px 0;
  background-color:#b3382c;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.modalBtnAction:hover{
  background-color: #d44637;
}
