.redBtn {
  background-color: red;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.blueBtn {
  background-color: blue;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  margin: 10px;
}
.redBtn:hover {
  background-color: #ff505c;
}

.blueBtn:hover {
  background-color: #596dff;
}