.table-section {
    background-color: #3a4965;
    padding: 25px 30px;
    font-family: 'Arimo', sans-serif;
    width: 1190px;
    margin: 0 auto;

}

.main-table {
    color: #484848;
    background-color: #fafafa;
    width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
    border-collapse: collapse;
}

.standart-variant-color {
    background-color: #89c331;
}

.ultimate-variant-color {
    background-color: #f04a56;
}

.premium-variant-color {
    background-color: #20807c;
}

.table-heading {
    width: 275px;
    box-sizing: border-box;
    text-align: center;
    padding: 26px 0;
    font-size: 24px;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: bold;

}

.table-main-header {
    color: #484848;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 156px;
    padding: 0;
    vertical-align: middle;
}

.first-table-row :first-child h3 {
    margin: 0;
}

.table-main-header .table-subtitle {
    font-size: 18px;
    display: block;
    height: 30px;

}

.price-data {
    font-size: 60px;
    font-weight: bold;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    height: 88px;
    padding: 30px 0 0 30px;
}

.cent {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 16px;
    left: 130px;
}

.period {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
}

.main-table-info {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
}

.main-table-info td {
    padding: 25px;
}

.main-table-info tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.main-table-info tr:nth-child(even) {
    background-color: #e3e3e3;
}

.table-button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 20px 60px 13px;
    text-transform: uppercase;
    color: #fafafa;
    font-size: 16px;
    font-weight: bold;

}

.table-footer tr td {
    height: 110px;
    vertical-align: middle;
    text-align: center;
}

.table-button.standart-variant-color {
    border-bottom: 7px solid #79b027;
}

.table-button.ultimate-variant-color {
    border-bottom: 7px solid #df3a46;
}

.table-button.premium-variant-color {
    border-bottom: 7px solid #16736f;
}

.contact-btn {
    background-color: #484848;
    border-bottom: 7px solid #404040;
}

.table-button:hover {
    padding:22px 60px 15px;
}
.table-footer tr td:first-child {
    background-color: #dddddd;
}
thead tr:last-child th {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.10) 0%, transparent 1%);
}
tfoot tr td {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.10) 0%, transparent 1%);
}
tfoot tr:first-child td:nth-child(2) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.44) 0%, transparent 1%);
}
tbody tr:nth-child(odd) td {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.10) 0%, transparent 1%);
}
tbody tr:nth-child(2n) td:nth-child(2) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.10) 0%, transparent 0.5%);
}
tbody tr:nth-child(2n) td:last-child {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.10) 0%, transparent 0.5%);
}
