.ProdactItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}
.star {
  width: 20px;
  height: 20px;
  background-image: url("../../theme/Empty_Star.png");
  display: inline-block;
  margin: 10px 0 0 20px;
  cursor: pointer;
}
.star-chosen {
  width: 20px;
  height: 20px;
  background-image: url("../../theme/Star.png");
  display: inline-block;
  margin: 10px 0 0 20px;
  cursor: pointer;
}