* {
    box-sizing: border-box;
}

.wrapper {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
}

.main-header {
    font-size: 80px;
    text-align: left;
    margin: 50px 0;
}

.main-header a {
    color: black;
    text-decoration: none;
}

.higlight {
    color: #4bcaff;
}

.menu-nav {
    background-color: #35444f;
}

.menu-list {
    display: inline-block;
    padding: 20px;
    font-size: 24px;
}

.menu-list:hover {
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #222f3a;
}

.menu-list a {
    text-decoration: none;
    color: white;
}

header {
    margin-bottom: 50px;
}

.leftside-bar {
    border: 1px solid #333;
    width: 340px;
    float: left;
}

.leftside-list {
    text-align: left;
}

.leftside-list-item {
    font-size: 27px;
    padding: 30px 20px;

}

.leftside-list-item:hover {
    padding-left: 40px;
    background-color: #dbdbdb;
}

.leftside-list-item a:hover {
    color: black;
}

.leftside-list-item a {
    color: #485863;
    text-decoration: none;
}

.rightside-bar {
    margin-left: 400px;
}

.mainimg {
    border: 1px solid #333333;
    padding: 60px 280px 80px 280px;
    text-align: left;
}

.comon-text {
    margin: 30px;
    text-align: justify;
    font-size: 18px;
}

.footer-nav {
    background-color: #b4b7ba;
    width: 100%;
}

.footer-links {
    float: left;

}

.footer-list-item {
    font-size: 24px;
    padding: 20px;
    display: inline-block;
}

.footer-list-item a {
    color: #0c1927;
    text-decoration: none;
}

.footer-list-item a:hover {
    color: #569bc3;
    text-decoration: underline;
}

.copyright {
    float: right;
    display: inline-block;
    padding: 20px;
    font-size: 24px;
}

.footer-menu {
    float: left;
}

.clearfix {

    clear: both;
}
