* {
    padding: 0;
    margin: 0
}

body {
    color: #373737;
    font-family: Arial sans-serif;

}

nav {
    text-align: center;
    font-size: 20px;
    margin: 30px 0px;
}

a {
    color: #34a78f;
    margin: 40px;
    text-decoration: none;
}

img {
    width: 100%;
}

section {
    text-align: center;
    background-color: #f5f6f7;
    margin-top: -24px;
}
p{
    margin-top: 20px;
}

h2 {

    padding-top: 55px;
    padding-bottom: 20px;
    font-weight: normal;

}

button {
    width: 194px;
    height: 50px;
    color: white;
    background-color: #34a78f;
    border: none;
    border-radius: 4px;
    margin: 40px auto;
    cursor: pointer
}

footer {
    height: 110px;
    line-height: 110px;
    text-align: right;
}

footer p {
    margin-top: 0px;
    font-weight: bold;
    color: #373737;
    margin-right: 100px;
}