.container{
    background-color: #97c5d5;
    width: 200px;
    padding: 20px;
    position: relative;
}
.sortBtn{
    position: absolute;
    top:0;
    right: 0;
}
.createBtn{
    position: absolute;
    bottom:0;
    left: 0;
}

.draggable {
    padding: 20px;
    cursor: move;
    border: 1px solid beige;

}
.on-drag {
    opacity: 0.5;
}