
.header {
    height: 500px;
    min-height: 445px;
}
.container-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/html_css_homework_homework6_img_header-bg.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 100%;
}

.navbar {
    background-color: rgba(29, 33, 36, 0.49);
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 980px;
    position: fixed;
    top:0;
    width: 100%;
}

.nav-box {
    background-color: #1a1d20;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-zone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 800;
    margin-left: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;

}

.menu ul li:hover a {
    color: #78bee4;

}

.menu ul li {
    display: inline-block;
    padding: 12px;
}

.container {
    width: 1170px;
    margin: 0 auto;


}

header .container {
    height: 375px;

}

.main-section-header {
    font-weight: normal;
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 70px;

}

.button {
    border: none;
    border-radius: 8px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 20px 30px;
    margin-right: 18px;
}

.subscribe-button {
    background-color: #89ca62;
}

.article-button {
    background-color: #14b9d5;
}

.subscribe-button:hover {
    background-color: #46ca41;
}

.article-button:hover {
    background-color: #2d8cd5;
}

.main-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button-block {
    margin-top: 40px;

}

.section-header {
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #14b9d5;
    text-align: center;
    padding-bottom: 50px;
}

.client-section .container {
    height: 100%;
}

.card {
    width: 370px;
    padding-bottom: 32px;
}

.card-descriptrion {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #353a3d;
    text-align: center;
}

.popular-section {
    background-color: #f2f2f2;
    padding: 50px 0;
}

.card div {
    background-color: white;
    margin-top: -2px;
    padding: 20px;
}

.popular-section-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: flex-start;
    height: 870px;

}


.client-section {
    height: 590px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-position-y: -195px;
    background-position-x: -200px;
    background-attachment: fixed;
    background-size: cover;
}

.client-header {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    grid-area: header;
}

.hor-line {
    width: 60px;
    height: 2px;
    background-color: #169cb4;
    grid-area: hr;
}

.client-section-container {
    display: grid;
    height: 100%;
    grid-template-areas: "header header header header"
                             "hr hr hr hr"
                            "item1 item2 item3 item4";
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(2, 130px);
    align-content: center;

}

.client-logo-img1 {
    grid-area: item1;
}

.client-logo-img2 {
    grid-area: item2;
}

.client-logo-img3 {
    grid-area: item3;
}

.client-logo-img4 {
    grid-area: item4;
}

.photo-section {
    overflow: hidden;
    padding: 55px 0;
}

.top-rated-photo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    padding-bottom: 55px;
    max-width: 1896px;
    margin: 0 auto;
}


.news-card-right-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    width: 857px;
    height: 259px;
}

.news-card-single {
    display: grid;
    grid-template-rows: 210px 50px;
    width: 277px;
    align-items: start;
}

.news-card-bottom-text {
    display: grid;
    grid-template-rows: 259px 165px;
    width: 554px;


}

.news-about-bottom-text {
    padding: 25px 30px;
    text-align: right;
    background-color: #f9f7f7;
}

.news-about-right-text {
    background-color: #f9f7f7;
    text-align: right;
    padding: 40px 25px;
}

.news-about-single {
    background-color: #f9f7f7;
    text-align: right;
    padding: 16px;
}

.news-about-header {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #353a3d;

}

.news-about-text {
    font-weight: 600;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #353a3d;
    margin-top: 25px;
}

.news-card-single .news-about-header {
    text-align: center;
}

.news-container {


}

.buttom-text {
    width: 277px;
}
.news-about-single .news-about-header {
    text-align: center;
}
.top-grid-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.margin-left-grid{
    justify-self: end;
}

.middle-grid-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top:50px;

}
.middle-grid-item:nth-child(even){
    justify-self: end;
}
.news-about-bottom-text{
    width: 554px;
    box-sizing: border-box;
}
.bottom-grid-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top:50px;
}
.footer-copy {
    font-weight: normal;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.footer {
    background-color: #1d2124;
    height: 80px;

}
.container-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 106px;
    align-content: center;
    width: 1170px;
    height: 80px;
    margin: 0 auto;

}
.card-img:hover {
    transform: scale(1.01);
}
.top-rated-img:hover {
    transform: scale(1.01);
}
.news-img:hover {
    transform: scale(1.01);
}

.button-up {
    display: inline-block;
    background-color: rgba(22, 156, 180, 0.33);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    color: #e2e2e2;
    transition: background-color .3s;
}
.button-up:hover {
    cursor: pointer;
    background-color: #333;
}
.button-up:active {
    background-color: #555;
}
