.container {
    background-color: #0c180c;
    color: yellow;
    font-weight: bold;
    font-size: 3rem;
    height: 100vh;
    perspective: 250px;
    overflow-y: hidden;
    overflow-x:hidden;
    position: relative;
}
.main-header, .sub-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;

}
.text{
    margin-bottom: 3rem;
}
.text-container {
    width: 800px;
    margin: 0 auto;
    animation-name: text-amim;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    transform: rotateX(12deg);


}
 /*rotateX(10deg);*/
@keyframes text-amim {
    0% {
        top: 70vh ;

    }

    100% {
        top:-30vh;
    }
}